@model LamborghiniGallery.Models.Lamborghini
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;

   
}

<h1>@Model.CarModel</h1>
<h2>Model Year @Model.YearModel</h2>

<h5>Description: </h5>
<div>@Html.Raw(Model.DescriptionHtml)</div>

@if (Model.Variants.Length > 0)
{
    <h5>Lamborghini Huracan Variants: </h5>
    <div>
        <ul>
            @foreach (var variant in Model.Variants)
            {

                <li>@variant.ModelName: @variant.ModelYearRelease</li>

            }
        </ul>
    </div>
}

   
