@model LamborghiniGallery.Models.Lamborghini
@{
    
    ViewBag.Title = Model.DisplayText;
    ViewBag.ShowBackBar = true;

}

<h2>@Model.DisplayText</h2>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h5><label>Lamborghini Model:</label> @Model.CarModel</h5>
            <h5><label>Car Year:</label> @Model.YearModel</h5>
            <h5><label>Favorite:</label> @(Model.Favorite ? "Yes" : "No")</h5>
            @if (Model.Variants.Length > 0)
            {
                <h5>Lamborghini Huracan Variants: </h5>
                <div>
                    <ul>
                        @foreach (var variant in Model.Variants)
                        {

                            <li>@variant.ModelName: @variant.ModelYearRelease</li>

                        }
                    </ul>
                </div>
            }
        </div>
        <h5>Description: </h5>
        <div>@Html.Raw(Model.DescriptionHtml)</div>
    </div>
    <div class="col-md-6">
        <img src="/Images/@Model.CoverImageFileName"
             alt="@Model.DisplayText" class="img-responsive" />
    </div>
</div>










